<a href="https://colab.research.google.com/github/Kushal-Shr/Intro-to-AI/blob/main/ICP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = []
st = input("Enter a string: ")

for ele in st:
    lst.append(ele)

for i in range(2):
    lst.pop()

print(''.join(lst)[::-1])

Enter a string: python
htyp

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

Enter first number: 10
Enter second number: 2
12
8
20
5.0

In [ ]:
sentence = input("Enter a sentence: ")

sentence = sentence.replace("python", 'pythons')

print(sentence)

Enter a sentence: I love playing with python
I love playing with pythons

In [ ]:
grade = int(input("Enter your grade: "))

if grade >= 92:
    print("Your grade is A")
elif 85 <= grade < 92:
    print("Your grade is B")
elif 80 <= grade < 85:
    print("Your grade is C")
elif 70 <= grade < 80:
    print("Your grade is D")
elif 60 <= grade < 70:
    print("Your grade is E")
else:
    print("You failed buddy")

Enter your grade: 55
You failed buddy

In [ ]:
x = [23, 'Python', 23.98]

new_x = [type(ele) for ele in x]

print(x)
print(new_x)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [28]:
T_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(T_companies))
T_companies.add('Twitter')
T_companies.update({'Nvidia', 'Notion', 'Meta'})
T_companies.remove('Facebook')

# discard doesn't throw an error in the element is not present in the set but remove will
T_companies.discard('Salesforce')
# T_companies.remove('Salesforce') -> it'll throw an error

print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
if A.symmetric_difference(B):
    print(True)
else:
    print(False)

A.clear()
B.clear()

print(A)
print(B)

new_age = set(age)
print(len(age))
print(len(new_age))

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
True
set()
set()
8
5