<a href="https://colab.research.google.com/github/Kushal-Shr/Intro-to-AI/blob/main/ICP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Display this pattern:
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [14]:
for i in range(1, 6):
    j = 1

    while j <= i:
        print('*', end = ' ')
        j += 1

    print(end = '\n')

for i in range(1, 5):
    j = 4

    while j >= i:
        print('*', end = ' ')
        j -= 1

    print(end = '\n')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

2.


---


a. Counter.count is a class variable and is shared by all instances of Counter class while self._count is an instance variable and is unique to every object

b. The output of a.get_counts() is Instance count: 2, Class count: 3 and b.get_counts() is Instance count: 1, Class count: 3

c. self._count only increases the specific object, in this example it only increase a by 1 twice because it's being called twice for a while the Counter.count increase the count by 1 everything increment function is called no matter the object.

3. Debug

In [15]:
def sum_all(args):
    if not args:
        return 0
    return sum_all(args[1:]) + args[0]

print(f'Sum of 1, 2, 3 is: {sum_all([1, 2, 3])}')
print(f'Sum of 1, 2, 3, 4, 5 is: {sum_all([1, 2, 3, 4, 5])}')

Sum of 1, 2, 3 is: 6
Sum of 1, 2, 3, 4, 5 is: 15

4.

In [16]:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(1, len(lst), 2):
    print(lst[i])

20
40
60
80
100

5.

In [17]:
old = [1,2,3,3,3,3,4,5]

new = list(set(old))
print(new)

[1, 2, 3, 4, 5]

6.

In [21]:
class Employee:
    count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.count += 1

    def avg_salary(self, employees):
        sum_salary = 0
        for employee in employees:
            sum_salary += employee.salary
        if Employee.count > 0:
            return int(sum_salary / Employee.count)
        else:
            return 0

class FulltimeEmployee(Employee):
    pass

fulltime_employee1 = Employee("Kushal", "Family A", 220000, "Data Services")
employee2 = Employee("Roshit", "Family C", 160000, "Data Science")

fulltime_employee3 = FulltimeEmployee("Muaz", "Family B", 200000, "Web Dev")
employee4 = Employee("Tanguy", "Family D", 170000, "Cloud")

all_employees = [fulltime_employee1, employee2, fulltime_employee3, employee4]

average_salary_employee = employee2.avg_salary(all_employees)
print(f"Average salary calculated by Employee instance: {average_salary_employee}")

average_salary_fulltime = fulltime_employee1.avg_salary(all_employees)
print(f"Average salary calculated by FulltimeEmployee instance: {average_salary_fulltime}")

print(f"Total number of employees: {Employee.count}")

Average salary calculated by Employee instance: 187500
Average salary calculated by FulltimeEmployee instance: 187500
Total number of employees: 4